@font-face {
  font-family: Medium;
  src: url('../fonts/Amazon-Ember-Medium.ttf');
}

@font-face {
  font-family: Mediumltalic;
  src: url('../fonts/Amazon-Ember-Mediumltalic.ttf');
}

@font-face {
  font-family: Bold;
  src: url('../fonts/AmazonEmber_Bd.ttf');
}

@font-face {
  font-family: BoldItalic;
  src: url('../fonts/AmazonEmber_BdIt.ttf');
}

@font-face {
  font-family: Heavy;
  src: url('../fonts/AmazonEmber_He.ttf');
}

@font-face {
  font-family: HeavyItalic;
  src: url('../fonts/AmazonEmber_HeIt.ttf');
}

@font-face {
  font-family: Light;
  src: url('../fonts/AmazonEmber_Lt.ttf');
}

@font-face {
  font-family: LightItalic;
  src: url('../fonts/AmazonEmber_LtIt.ttf');
}

@font-face {
  font-family: Regular;
  src: url('../fonts/AmazonEmber_Rg.ttf');
}

@font-face {
  font-family: RegularItalic;
  src: url('../fonts/AmazonEmber_RgIt.ttf');
}

@font-face {
  font-family: Thin;
  src: url('../fonts/AmazonEmber_Th.ttf');
}

@font-face {
  font-family: ThinItalic;
  src: url('../fonts/AmazonEmber_ThIt.ttf');
}
